<?xml version="1.0" encoding="utf-8"?>
<component size="400,360">
  <displayList>
    <component id="n1_uezu" name="n1" src="uezu9" fileName="Button2.xml" xy="54,83">
      <Button title="最近登录" titleColor="#000000" titleFontSize="16"/>
    </component>
    <component id="n2_uezu" name="n2" src="uezu9" fileName="Button2.xml" xy="54,130">
      <Button title="1~5服" titleColor="#000000" titleFontSize="16"/>
    </component>
    <component id="n3_uezu" name="n3" src="uezu9" fileName="Button2.xml" xy="54,174">
      <Button title="6~10服" titleColor="#000000" titleFontSize="16"/>
    </component>
    <component id="n4_uezu" name="n4" src="uezu9" fileName="Button2.xml" xy="54,221">
      <Button title="11~15服" titleColor="#000000" titleFontSize="16"/>
    </component>
    <component id="n5_uezu" name="n5" src="uezua" fileName="Button3.xml" xy="175,54">
      <Button title="(一区)  火树银花" titleColor="#000000" titleFontSize="12"/>
    </component>
    <component id="n6_uezu" name="n6" src="uezua" fileName="Button3.xml" xy="175,101">
      <Button title="(二区)  圣战之颠" titleColor="#000000" titleFontSize="12"/>
    </component>
    <component id="n7_uezu" name="n7" src="uezua" fileName="Button3.xml" xy="175,148">
      <Button title="(三区)  冲锋" titleColor="#000000" titleFontSize="12"/>
    </component>
    <component id="n8_uezu" name="n8" src="uezua" fileName="Button3.xml" xy="175,195">
      <Button title="(四区)  万象更新" titleColor="#000000" titleFontSize="12"/>
    </component>
    <component id="n9_uezu" name="n9" src="uezua" fileName="Button3.xml" xy="175,242">
      <Button title="(五区)  神殿" titleColor="#000000" titleFontSize="12"/>
    </component>
  </displayList>
</component>